.git
.github
.env
node_modules
npm-debug.log
vendor
public/build
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.phpunit.cache
bootstrap/cache
tests
docker-compose.override.yml
*.md
!README.md
